<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KIMA ASWAN - Dashboard</title>
    <link rel="stylesheet" href="../static/CSS/Home_Page.css">
</head>
<body>
    <div class="container">
        <!-- Main Content -->
        <main class="main-content">
            <!-- Header -->
            {% include 'components/home_page_header.html' %}

            <!-- Content -->
            <div class="content">

                <div class="dashboard-cards">
                    <div class="dashboard-card" onclick="window.location.href='/employees'">
                        <img src="https://i.postimg.cc/Dyn7QwCW/image.png" alt="Employees" class="dashboard-icon">
                        <h3 class="dashboard-title">Employees</h3>
                    </div>
                    <div class="dashboard-card" onclick="window.location.href='/suppliers'">
                        <img src="https://i.postimg.cc/sDTCp9QT/image.png" alt="Suppliers" class="dashboard-icon">
                        <h3 class="dashboard-title">Suppliers</h3>
                    </div>
                    <div class="dashboard-card" onclick="window.location.href='/products'">
                        <img src="https://i.postimg.cc/gkkfkXSY/image.png" alt="Products" class="dashboard-icon">
                        <h3 class="dashboard-title">Products</h3>
                    </div>
                    <div class="dashboard-card" onclick="window.location.href='/customers'">
                        <img src="https://i.postimg.cc/rygPby8P/image.png" alt="Customers" class="dashboard-icon">
                        <h3 class="dashboard-title">Customers</h3>
                    </div>
                </div>
            </div>
        </main>
    </div>
    
    <!-- Include footer component from static/utilities/Footer/footer.html -->
    {% include 'components/footer.html' %}
</body>
<script>
            function navigateTo(page) {
            document.querySelectorAll('.page-content').forEach(p => {
                p.classList.add('hidden');
            });
            }

            
</script>
</html>
