<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="../Form Pages/Form_Style.css">
</head>
<body class="profile-page">
    <!-- Profile Page -->
    <header class="header">
                <div class="logo">
                    <img src="../app/static/assets/KimaLogo.png" style="width: 50px; height: 70px;" alt="logo" class="logo-icon">
                    <h2> KIMA </h2>
                </div>  
                <div class="search-container">
                    <span class="search-icon"><img src="https://i.postimg.cc/6pMgv9SK/search-svgrepo-com.png" alt="Search Icon" style="width:20px; height:20px;"></span>
                    <input type="text" class="search-box" placeholder="Search">
                    <span class="mic-icon"><img src="https://i.postimg.cc/W4rmP80k/microphone-svgrepo-com.png" alt="Microphone Icon" style="width:20px; height:20px;"></span>
                </div>
        <div class="user-section">
            <a href="Home_Page.html" class="header-link">Home</a>
                <div class="header-right">
                    <button class="icon-btn"><img src="https://i.postimg.cc/5tqH3Rw7/bell-alt-svgrepo-com.png" alt="Notification Bell" style="width:20px; height:20px;"></button>
                    <button class="icon-btn"><img src="https://i.postimg.cc/YSp2pqW5/profile-round-1342-svgrepo-com.png" alt="Profile" style="width:20px; height:20px;"></button>
                </div>
        </div>
    </header>

          <!--- Personal Information -->
        <main class="main-content">
         <div class="card">
    <h2 class="section-title">Product Information</h2>

    <form>
         <div class="info-item">
            <label for="productName"><strong>Product Name:</strong></label>
            <input type="text" id="productName" name="productName" placeholder="Product A">
        </div>
        <div class="info-item">
            <label for="productId"><strong>Product ID:</strong></label>
            <input type="text" id="productId" name="productId" placeholder="PROD-001">
        </div>
        <!-- Adding foreign key for Stocks -->
       <div class="info-item">
            <label for="stocksId"><strong>Stocks ID:</strong></label>
            <input type="text" id="stocksId" name="stocksId" placeholder="STOCK-001">
        </div>
        <div class="info-item">
            <label for="Description"><strong>Description:</strong></label>
            <input type="text" id="description" name="description" placeholder="Description of the product">
        </div>

    </form>
</div> 


                <!--- Price Information -->
 <div class="card">
    <h2 class="section-title">Price Information</h2>

    <form>
        <div class="info-item">
            <label for="Unit price"><strong>Unit Price:</strong></label>
            <input type="text" id="unitPrice" name="unitPrice" placeholder="$100.00">
        </div>

        <div class="info-item">
            <label for="costPrice"><strong>Cost Price:</strong></label>
            <input type="text" id="costPrice" name="costPrice" placeholder="$80.00">
        </div>
    </form>
</div>

            <!--- Expiration Information -->

<div class="card">
    <h2 class="section-title">Expiration Information</h2>
    <form>
        <div class="info-item">
            <label for="expirationDate"><strong>Expiration Duration:</strong></label>
            <input type="text" id="expirationDate" name="expirationDate" placeholder="12 months">
        </div>
    </form>
</div>

<!--- Accessibility & Storage Information  --->
<div class="card">
    <h2 class="section-title">Accessibility & Storage Information</h2>

    <form>
        <div class="info-item">
            <label for="canBePurchased"><strong>Can be Purchased:</strong></label>
            <select id="canBePurchased" name="canBePurchased">
                <option value="">Select...</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </div>
    </form>

    <div class="info-item">
        <label for="amountStored"><strong>Amount Stored:</strong></label>
        <input type="text" id="amountStored" name="amountStored" placeholder="100 units">
</div>


<!--  Bottoms  -->
<div class="button-group">
    <button type="submit" class="btn btn-save">Save</button>
    <button type="reset" class="btn btn-cancel">Cancel</button>
</div>

<div class="help-text">
    Need to update your information? <a href="#" class="help-link">Contact HR</a>
</body>
</html>